tc-apptitle { font-family: "Noto Sans TC",sans-serif; font-weight: bold; }
ne-appcomment { font-size:medium; font-weight: 600; line-height:0.5; display:block; padding: 0px;}
ne-tagscomment { font-size:small; }
